# Compiled Object files
*.slo
*.lo
*.o
*.manifest
*.lastbuildstate
*.log
*.tlog
*.obj
*.idb
*.pdb

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Foo
ipch/*
*.ipch

Debug/*
*.exe

#Project Files
*.vcxproj
*.filters
*.user
*.sln
*.suo
*.sdf
*.ilk
*.opensdf

*.dll
*.vsp
Asteroids/Asteroids/main.cpp
